<!DOCTYPE html>
<html>
	<head>
		<title>Interpretable Misinformation Detection</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

		<div id="header" class="w-1/2 mx-auto my-4">
			<h1 class="text-xl">Interpretable Misinformation Detection Twitter Feed</h1>
		</div>

		<div id="content" class="mb-8">
			<div id="model-selection" class="w-1/2 mx-auto mb-4">
				<p>Display:</p>
				<div>
					<input type="radio" id="none" name="model-select" value="none" v-model="explanationType">
					<label for="none">None</label>
				</div>
				<div>
					<input type="radio" id="pred" name="model-select" value="pred" v-model="explanationType">
					<label for="pred">Prediction Only</label>
				</div>
				<div>
					<input type="radio" id="expl" name="model-select" value="expl" v-model="explanationType">
					<label for="expl">Prediction + Explanation</label>
				</div>
			</div>
			<div id="feed" class="w-1/2 mx-auto border-x border-t">
				<tweet v-for="tweet in tweets" v-bind="tweet" :explanation-type="explanationType"></tweet>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="src/js/data.js" type="module"></script>
		<script src="src/js/ui.js" type="module"></script>
		<script src="src/js/main.js" type="module"></script>

		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</body>
</html>