<!DOCTYPE html>
<html>
	<head>
		<title>Interpretable Misinformation Detection</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdn.tailwindcss.com"></script>
		<script defer data-domain="iml.felixparker.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

		<div id="header" class="w-1/2 mx-auto my-4">
			<h1 class="text-xl">Interpretable Misinformation Detection</h1>
		</div>

		<div id="content" class="mb-8 w-1/2 mx-auto">
			<div id="feed" class="border-x border-t">
				<survey-tweet v-for="tweet in tweets" v-bind="tweet" :explanation-type="explanationType"></survey-tweet>
			</div>
			<div class="submit-area w-full">
				<button class="submit-button mt-6 mx-auto block bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-lg font-semibold text-white" @click="next">Next</button>
			</div>
		</div>

		<style>
			.tweet-link {
				color: revert;
			}
		</style>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="/static/js/data.js" type="module"></script>
		<script src="/static/js/ui.js" type="module"></script>
		<script src="/static/js/survey.js" type="module"></script>

		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</body>
</html>