<!DOCTYPE html>
<html>
	<head>
		<title>Interpretable Misinformation Detection</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdn.tailwindcss.com"></script>
		<script defer data-domain="iml.felixparker.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<div id="header" class="w-1/2 mx-auto mt-4 mb-10">
			<h1 class="text-2xl">Interpretable Misinformation Detection</h1>
		</div>

		<div id="content" class="mb-8 w-1/2 mx-auto">
			<h3 class="text-xl text-center mb-6">Thank you for participating in our study!</h3>
			<p class="mb-4">We are building a framework to help people detect misinformation online. In order to determine how we can best inform users about potential sources of misinformation on social media we are conducting this user study of the tool that we have built.</p>
			<p class="mb-4">Your task is to read a series of tweets and rank how likely you think they are to contain misinformation on a 5-point scale. The task will be divided into three rounds, with a different amount of information available to you in each round. Your goal is to scroll through these tweets and identify misinformation.</p>
			<p>This study will take you approximately 10 minutes to complete. Don’t spend too much time on any one tweet! Treat it as though you are scrolling through your normal feed.</p>
			<a href="/survey/user" class="w-1/2 mx-auto mt-6 block bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-lg font-semibold text-white text-center">Next</a>
		</div>
	</body>
</html>