<!DOCTYPE html>
<html>
	<head>
		<title>Interpretable Misinformation Detection</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdn.tailwindcss.com"></script>
		<script defer data-domain="iml.felixparker.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<div id="header" class="w-4/5 md:w-2/3 lg:w-1/2 mx-auto mt-4 mb-8">
			<h1 class="text-2xl">Interpretable Misinformation Detection</h1>
		</div>

		<div id="content" class="w-4/5 md:w-2/3 lg:w-1/2 mb-8 mx-auto">
			<p class="mb-4">Please fill out some general information about yourself.</p>
			<form>
				<div class="mb-8">
					<label for="form-name">Name</label>
					<input type="text" id="form-name" class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm">
				</div>
				<div class="mb-8">
					<label for="form-email">Email</label>
					<input type="email" id="form-email" class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm">
				</div>
				<div class="mb-8">
					<label for="form-age">Age</label>
					<input type="number" id="form-age" class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm">
				</div>
				<div class="mb-8">
					<p>How often do you use social media?</p>
					<div class="radio-button-group flex flex-row justify-evenly mt-4">
						<div class="radio-button flex flex-col items-center">
							<input type="radio" name="form-social-media" id="sm-radio-1" value="1">
							<label class="radio-label text-xs text-gray-600 mt-1 text-center" for="sm-radio-1">Never</label>
						</div>
						<div class="radio-button flex flex-col items-center">
							<input type="radio" name="form-social-media" id="sm-radio-2" value="2">
							<label class="radio-label text-xs text-gray-600 mt-1 text-center" for="sm-radio-2">Infrequently</label>
						</div>
						<div class="radio-button flex flex-col items-center">
							<input type="radio" name="form-social-media" id="sm-radio-3" value="3">
							<label class="radio-label text-xs text-gray-600 mt-1 text-center" for="sm-radio-3">Sometimes</label>
						</div>
						<div class="radio-button flex flex-col items-center">
							<input type="radio" name="form-social-media" id="sm-radio-4" value="4">
							<label class="radio-label text-xs text-gray-600 mt-1 text-center" for="sm-radio-4">Frequently</label>
						</div>
						<div class="radio-button flex flex-col items-center">
							<input type="radio" name="form-social-media" id="sm-radio-5" value="5">
							<label class="radio-label text-xs text-gray-600 mt-1 text-center" for="sm-radio-5">Very Frequently</label>
						</div>
					</div>
				</div>
				<div>
					<button id="next-button" type="button" class="submit-button mt-6 mx-auto block bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-lg font-semibold text-white">Next</button>
				</div>
			</form>
		</div>

		<script src="/static/js/survey-user.js"></script>
	</body>
</html>