<!DOCTYPE html>
<html>
	<head>
		<title>Interpretable Misinformation Detection</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdn.tailwindcss.com"></script>
		<script defer data-domain="iml.felixparker.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<div id="header" class="w-4/5 md:w-2/3 lg:w-1/2 mx-auto my-4">
			<h1 class="text-xl">Interpretable Misinformation Detection</h1>
		</div>

		<div id="content" class="w-4/5 md:w-2/3 lg:w-1/2 mb-8 mx-auto">
			<div class="mx-auto my-10">
				<h2 class="text-2xl text-center">Survey Complete!</h2>
				<h3 class="text-xl text-center">Thank you for participating in our study!</h3>
			</div>
			<a class="w-52 mt-6 mx-auto block bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-lg font-semibold text-white text-center" href="/">Home</a>
		</div>

	</body>
</html>